@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap");

:root {
  --test-sample: "test-sample";

  /* color */

  /* size */

  /* font size */
  --font-large: 10px;
  --font-medium: 8px;
  --font-small: 6px;
  --font-micro: 4px;

  /* font */
  --font-default: sans-serif;
  --font-do-hyeon: "Do Hyeon", var(--font-default);
  --font-jua: "Jua", var(--font-default);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* padding margin을 포함하여 사이즈 결정 */
}

body {
  font-family: var(--font-do-hyeon);
}
